Pillow==10.0.0
Pint==0.24.4
PySide2==5.15.2.1
asteval==0.9.31
click==8.1.6
colorama==0.4.6
comtypes==1.4.11
contourpy==1.1.0
cycler==0.11.0
flexcache==0.3
flexparser==0.4
fonttools==4.41.1
h5py==3.9.0
kiwisolver==1.4.4
matplotlib==3.7.2
numpy==1.24.4
packaging==23.1
pandas==2.3.0
pip==23.2.1
platformdirs==3.10.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2025.2
scipy==1.11.1
setuptools==63.2.0
shapely==2.0.6
shiboken2==5.15.2.1
six==1.16.0
typing_extensions==4.15.0
tzdata==2023.4
whichcraft==0.6.1